/* line 3, ../sass/main.scss */
.board-item {
  margin-top: 15px;
}

/* line 7, ../sass/main.scss */
.image-attach {
  margin-bottom: 50px;
}

/* line 11, ../sass/main.scss */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* line 16, ../sass/main.scss */
a {
  color: #2D2D2D;
}

/* line 20, ../sass/main.scss */
.thumbnail {
  height: 250px;
  overflow: hidden;
}
/* line 24, ../sass/main.scss */
.thumbnail .img {
  display: block;
}

/* line 31, ../sass/main.scss */
.portrait img {
  width: 100%;
}

/* line 49, ../sass/main.scss */
.navbar-default {
  background-color: #1ba8e5;
  border-color: #2cafbe;
}
/* line 52, ../sass/main.scss */
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
/* line 54, ../sass/main.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
/* line 56, ../sass/main.scss */
.navbar-default .navbar-text {
  color: #ecf0f1;
}
/* line 60, ../sass/main.scss */
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
/* line 62, ../sass/main.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
/* line 65, ../sass/main.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #2cafbe;
}
/* line 69, ../sass/main.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #2cafbe;
}
/* line 72, ../sass/main.scss */
.navbar-default .navbar-toggle {
  border-color: #2cafbe;
}
/* line 74, ../sass/main.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2cafbe;
}
/* line 76, ../sass/main.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
/* line 79, ../sass/main.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
/* line 81, ../sass/main.scss */
.navbar-default .navbar-link {
  color: #ecf0f1;
}
/* line 83, ../sass/main.scss */
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  /* line 87, ../sass/main.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  /* line 89, ../sass/main.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  /* line 92, ../sass/main.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #2cafbe;
  }
}
